# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.py
*.pyc

build
devel
install
lib
bin
*_gen

# eclipse
.project
.cproject
.pydevproject
.settings
_*

# ros-warehouse db
default_warehouse_mongo_db
